*, *:before, *:after {
  box-sizing: border-box;
}

body {
  /* background-color: rgb(107, 91, 52); */
  /* background-color: #5b92c9; */
  background: linear-gradient(-45deg, #d9b587, #dd6b8e, #72a8c7, #4ec76e);
  font-family: 'Mitr', sans-serif;
  color: black;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 90px;
}

button {
  font-size: 12px;
}

.blog-title {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 2px solid rgb(106, 187, 200); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: -30 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 2px; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(97, 152, 185); }
}

/* all posts */

.all-posts, .all-users, .home-page, .user-posts, .other-users {
  font-size: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0px;
  padding: 30px 40px;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: #76a5da;
  text-align: left;
  box-shadow: 0 0 15px 4px rgba(255, 255, 255, 0.508)
}

.page-header {
  color: rgb(255, 255, 255);
  text-shadow: -2px 2px rgb(0, 0, 0);
}

.title {
  /* -webkit-text-fill-color: rgb(203, 98, 98); /* Will override color (regardless of order) */
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: black; */
  color: white;
  padding-left: 10px;
  background: linear-gradient(-45deg, #d9b587, #dd6b8e, #72a8c7, #4ec76e);
  background-size: 200% 200%;
  /* -webkit-text-stroke: 8px transparent; */
  text-shadow: -2px 1px rgb(0, 0, 0);
  border-radius: 10px;
  border: solid 1px;
}

.title:hover {
  animation: move-background;
  animation-duration: 5s;
  /* background: linear-gradient(-45deg, #dd6b8e, #72a8c7, #4ec76e, #d9b587); */
}

@keyframes move-background { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.post, .user {
  font-size: 18px;
  white-space: pre-wrap;
  margin-bottom: 30px;
}

.user-name {
  background-color: rgb(209, 201, 192);
}

.edit-user {
  display: flex;
  flex-direction: column;
}

.slider-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

img {
  margin-left: 30px;
  width: 300px;
}

.edit-delete {
  float: right;
}

/* add post form */

.add-post {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 500px;
  flex-direction: column;
}

input[type=text], input[type=password], textarea {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 10px 0px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.116);
  border-radius:10px;
  outline: none;
  font-size: 14px;
}

input[type=text]:hover, input[type=password]:hover, textarea:hover {
  animation: hover-effect;
  animation-duration: 1s;
}

@keyframes hover-effect {
  from {box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.275)}
  to {box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.275)}
}

input:focus, textarea:focus {
  border: 2px solid rgb(74, 217, 239);
  box-shadow: 0 0 15px 4px rgba(47, 175, 201, 0.526);
}

textarea::-webkit-input-placeholder, input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder {
  font-size: 14px;
}

textarea {
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

input[type=submit], button, .nav-bar{
  border: none;
  padding: 10px;
  margin: 0px 5px;
  border-radius: 10px;
  font-family: 'Silkscreen', cursive;
}

input[type=submit]:hover, button:hover {
  box-shadow: 0 0 15px 4px rgba(255, 255, 255, 0.508)
}

.inactive:hover {
  box-shadow:none;
  cursor: not-allowed;
}

/* user display */

.pfp {
  display: inline-block;
  width: 200px;
  border-radius: 50%;
  margin-right: 30px;
  margin-top: 15px;
}

/* nav bar */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #76a5da;
  box-shadow: 0 0 15px 4px rgba(255, 255, 255, 0.508);
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  font-family: 'Silkscreen', cursive
}

a {
  text-decoration: none;
  color: black;
  outline: none;
  border: none;
  background-color: none;
  font-size: 14px;
}

a:active {
  background-color: rgb(135, 130, 116) !important;
}

.nav-tab, .likes, .see-more {
  /* background-color: rgb(179, 152, 116); */
  background-color: #76a5da; 
  padding: 0;
  font-size: 20px;
}

.nav-tab:hover, .likes:hover, .see-more:hover {
  box-shadow: none;
  color: white;
}

.settings, .settings:hover, .settings:focus, .settings:active {
  /* background-color: rgb(107, 91, 52) !important; */
  background-color: #5b92c9 !important; 
  box-shadow: none !important;
  border: none !important;
  color: black !important;
}

.login-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* modals */

.modal-body {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

path {
  stroke-linecap: round;
}

.ex {
  stroke: red;
  stroke-width: 1.5;
}

.checks {
  stroke:currentColor;
  stroke-width: 2;
  fill: none;
  stroke: green;
  stroke-linejoin: round;
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  animation: draw 0.25s forwards 0.25s;
}

@keyframes draw { 
  to { stroke-dashoffset: 0 } 
}

.pw-requirements {
  text-align: right;
  font-size: 15px;
}

.fa-eye {
  margin-left: 7px;
}

.fa-eye:hover {
  color: red;
}

.fa-heart {
  color: rgb(229, 229, 237)
}